# This is Git's per-user configuration file.
[user]
	name = REPLACE ME
	email = replace.me@email.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
